/* Global */

@import "https://unpkg.com/open-props";

:root {
  /* Color Scheme */
  /* Primary Colors */
  --bright-blue: #007bff;
  --vibrant-orange: #ff6f00;

  /* Secondary Colors */
  --lime-green: #7dce13;
  --bright-yellow: #ffd700;

  /* Neutral Colors */
  --dark-grey: #333333;
  --light-grey: #f4f4f4;

  /* Accent colors */
  --sky-blue: #87cefa;
  --pinkish-red: #ff4c4c;

  /* Fonts */
  --xl: 48px;
  --l: 40px;
  --medium: 33px;
  --small: 23px;
  --xs: 19px;
}

/* Components */
.c-btn {
  text-decoration: none;
  background-color: var(--bright-blue);
  color: var(--light-grey);
  width: 234px;
  height: 56px;
  padding: 12px 40px;
  font-size: var(--small);
  font-family: Rubik;
  font-weight: 100;
  border-radius: 2px;
  height: auto;
  width: auto;
}

.c-btn--ghost {
  background-color: transparent;
  color: var(--bright-blue);
  border: var(--bright-blue) solid 1px;
}

.c-btn--mobile {
  padding: 12px 23px;
  font-size: var(--xs);
}

/* Global */

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-grey);
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
}

header > nav {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 25px;
  font-size: 33px;
  font-family: "nunito", "poppins";
}

header > nav a {
  text-decoration: none;
}

.sub-nav {
  overflow: hidden;
}

.sub-nav-content {
  display: none;
  position: absolute;
  background-color: var(--light-grey);
  z-index: 100;
}

.sub-nav:hover .sub-nav-content {
  display: block;
}

.sub-nav-content a {
  display: flex;
  flex-direction: column;
}

.header-btn {
  font-size: 33px;
  font-family: "nunito", "poppins";
  border: none;
  background-color: transparent;
  color: var(--dark-grey);
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.bright-blue {
  color: var(--bright-blue);
}
.vibrant-orange {
  color: var(--vibrant-orange);
}
.lime-green {
  color: var(--lime-green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
  margin: 0;
  color: var(--dark-grey);
  text-transform: capitalize;
  font-style: italic;
}

h1 {
  font-size: var(--xl);
  text-align: center;
  margin: 32px 0 40px;
}
h2 {
  font-size: var(--small);
  color: var(--dark-grey);
  font-weight: 300;
}

p {
  font-family: "Open Sans";
}

body {
  margin: 0;
  background-color: var(--light-grey);
}

/* Home Page */

.hero-banner {
  background-image: url("../images/hero_image_desktop.jpg");
  min-height: 100dvh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-banner-1 {
  background-image: url("../images/home-hero.jpg");
  height: 720px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid;
  background-position-x: right;
}

.hero-banner-1 > h1 {
  color: var(--bright-yellow);
  -webkit-text-stroke: 1px var(--sky-blue);
  margin: 0;
  text-shadow: 1px 1px black;

  /* filter: drop-shadow(1px 1px); */
}

.big-font {
  font-size: 80px;
}

.hero-banner > h2 {
  color: var(--light-grey);
}

.hero-banner > * {
  margin-top: 50px;
}

.hero-btn-row {
  display: flex;
  gap: 50px;
}

.featured-section {
  display: flex;
  margin: 0 -1rem;
  max-height: 80dvh;
}

.featured-section > div {
  flex: 1;
}

.featured-section--image-0 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: var(--shadow-3);
  border: 1px solid;
}

.featured-section--image-1 {
  width: 100%;
  height: 100%;
  max-height: 420px;
  object-fit: cover;
}

.featured-section--image-2 {
  max-width: 100%;
  height: 60%;
  margin-top: auto;
  object-fit: cover;
}

.featured-section-row. {
  display: flex;
  flex-direction: column;
  padding: 60px 60px 0px 60px;
}

.featured-section-row > h1,
.featured-section-row > h2 {
  padding-left: 25px;
  text-align: left;
  font-size: var(--medium);
  font-weight: 700;
  font-style: italic;
  text-transform: capitalize;
}

.featured-section-row > p {
  padding: 0 25px;
  line-height: 2;
  letter-spacing: 0.3px;
  font-size: var(--xs);
}

.featured-section-row a {
  /* align-self: center; */
}

.featured-events {
  display: flex;
  gap: 25px;
  margin-top: 50px;
  padding: 0px 60px;
  justify-content: center;
}

.featured-events-column {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featured-events-column > a {
  margin-top: 20px;
  text-decoration: none;
}

.featured-events-column * > h2 {
  font-size: var(--small);
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 25px;
  margin: 10px 0 8px;
}

.featured-events-column * > p {
  line-height: 1.3;
  margin: 0;
}

.featured-events-image {
  max-width: 100%;
  height: 100%;
}

.featured-events-image:hover {
  filter: grayscale(50%);
}

.featured-about {
  position: relative;
}

.about-banner {
  max-height: 350px;
  position: relative;
  z-index: 50;
}

.featured-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  margin-top: -100px;
}

.featured-image,
.about-banner {
  width: 100%;
  object-fit: cover;
}

.featured-image {
  z-index: 10;
  height: 100%;
}

.about-container {
  z-index: 100;
  background-color: var(--light-grey);
  padding: 20px 110px;
}

.about-container > p {
  font-size: 23px;
  margin-bottom: 0;
  line-height: 2;
}

.featured-exhibit-row {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.featured-exhibit-row > a {
  width: calc(100% / 5);
  text-decoration: none;
}

.featured-exhibit-row * > div {
  aspect-ratio: 1;
}

.featured-exhibit-row * > p {
  text-align: center;
}

/* .featured-exhibit-row > a:hover {
  box-shadow: var(--shadow-6);
} */

.rounded-image:hover {
  transform: scale(1.03);
  border-radius: 50%;
  box-shadow: var(--shadow-4);
}

/* Explore page */

.explore-banner-kids {
  background-image: url("../images/banner_kids.jpg");
}

.explore-banner-teachers {
  background-image: url("../images/banner-teachers.jpg");
}

.explore-banner-researchers {
  background-image: url("../images/banner-researchers.jpg");
}

.explore-banner {
  height: 720px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position-y: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-banner > h1 {
  font-size: 71px;
  color: var(--bright-yellow);
  -webkit-text-stroke: 1px var(--sky-blue);
  text-shadow: 1px 1px black;
}

.circle-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 65px;
  padding: 0 60px;
}

.explore-kids-section > h2 {
  text-align: center;
  font-size: var(--l);
}

.circle-container > div {
  text-align: center;
}

.rounded-image {
  border-radius: 50%;
  border: 0.1px solid black;
  height: auto;
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  box-shadow: var(--shadow-3);
  aspect-ratio: 1;
}

.explore-featured {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.explore-featured > h1 {
  text-align: center;
  margin-top: 100px;
  text-transform: capitalize;
  font-style: italic;
}

.grid-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 60px;
  margin-top: 50px;
}

.grid-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grid-card-column {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  text-align: center;
}

.grid-card-column > h2 {
  font-size: 30px;
  font-weight: 700;
}

.grid-card-column > a {
  align-self: center;
  margin-top: auto;
}

.grid-card-column > p {
  font-size: 23px;
  line-height: 2;
}

/* Explore page */

.explore-resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.explore-resources > a {
  color: black;
  text-align: center;
}

/* Exhibits */

.exhibits-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  gap: 40px;
  margin-top: 30px;
}

.featured-section > h1 {
  margin-bottom: 30px;
}

.exhibits-nav > a {
  color: var(--dark-grey);
  padding-left: 25px;
}

.featured-section > div {
  /* padding: 20px;
  margin: 0 2rem; */
  flex: 0 0 calc(50% - 60px);
}

.test {
  margin-top: 150px;
  margin-bottom: 150px;
}

/* Exhibit */

.biology-hero {
  background-image: url("../images/biology-banner.jpg");
}

.ecology-hero {
  background-image: url("../images/ecology-hero.jpg");
  background-position-y: bottom;
}

.evolution-hero {
  background-image: url("../images/evolution-banner.jpg");
}

.robotics-hero {
  background-image: url("../images/robotics-banner.jpg");
}

.cosmology-hero {
  background-image: url("../images/cosmology-hero.jpg");
  background-position-y: bottom;
}

.exhibit-hero {
  height: 720px;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.exhibit-hero > p {
  max-width: 63%;
}

.exhibit-hero > h1 {
  color: var(--bright-yellow);
  -webkit-text-stroke: 0.7px var(--sky-blue);
}

.exhibit-hero > p,
.exhibit-hero > h2 {
  color: var(--light-grey);
  font-weight: 200;
}

.exhibit-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exhibit-row > h1 {
  margin: 0;
  align-self: flex-start;
}

.exhibit-row > p,
a {
  color: var(--dark-grey);
}

.exhibit-row > a {
  margin-top: auto;
  align-self: flex-end;
  margin: auto 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  /* padding: 20px;
  margin: 0 2rem; */
}

.container > div {
  background-color: var(--bright-yellow);
  text-align: center;
  width: 100%;
  box-shadow: var(--shadow-3);
  border: 1px solid;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 31%;
}

.container > div:hover {
  box-shadow: var(--shadow-6);
}

.container > div:hover {
  transform: scale(1.03);
}

.container > div h2,
.container > div p {
  color: var(--dark-grey);
}

.container > div h2 {
  font-weight: 700;
  font-style: italic;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.container > div p {
  margin-top: 0;
}

.container > div img {
  width: 100%;
  height: 276px;
  object-fit: cover;
  border-bottom: 1px solid;
}

/* Visit */

.admission > p {
  line-height: 2;
}

.visit-banner > img {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

.visit-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  /* margin: 0 2rem; */
  gap: 50px;
  background-color: var(--bright-yellow);
  border: 1px var(--sky-blue) solid;
}

.blue-container {
  background-color: var(--sky-blue);
  background-image: linear-gradient(var(--sky-blue), var(--bright-yellow));
  box-shadow: var(--shadow-2);
  border: 1px solid;
}

.visit-container * > h2,
.guided-tour > h2 {
  /* color: var(--vibrant-orange); */
  font-weight: 700;
  font-style: italic;
  font-size: var(--medium);
}

.visit-container * > p,
.guided-tour > p,
.guided-tour > li {
  /* color: var(--light-grey); */
}

.hours,
.admission {
  margin-right: 80px;
}

.hours > div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-grey);
}

.guided-tour {
  padding: 20px;
  margin: 0 2rem;
  gap: 50px;
  background-color: var(--dark-grey);
}

/* events */

.events-banner {
  background-image: url("../images/event-banner.jpg");
  height: 500px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events-banner > h1 {
  color: var(--bright-yellow);
  -webkit-text-stroke: 1px var(--sky-blue);
  margin: 0;
  text-shadow: 1px 1px black;
}

.event-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-column > p {
  font-size: var(--xs);
  margin-top: 0;
}

.event-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.event-register > p {
  font-style: italic;
}

.event-section {
  margin: 3rem;
}

.event-section > div {
  padding: 0;
}
/* Contact form */

.contact-container {
  max-width: 750px;
  margin: 0 auto;
}

.contact-container > h1,
.contact-container > h2 {
  text-align: center;
}

.contact-page > p,
.contact-page > h3 {
  color: var(--dark-grey);
}

.form-section {
  max-width: 750px;
  margin: 40px auto 20px;
}

.contact-flex {
  display: flex;
}

.form {
  box-shadow: var(--shadow-6);
  padding: 50px 100px;
  background-color: var(--bright-yellow);
}

.form > h2 {
  font-weight: 700;
  font-size: var(--l);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#message {
  font-family: inherit;
  padding: 5px;
  width: 500px;
  font-size: var(--xs);
  box-shadow: var(--shadow-2);
}

.form-input {
  height: 45px;
  width: 500px;
  box-shadow: var(--inner-shadow-1);
}

button {
  align-self: center;
  margin-top: 15px;
  background-color: var(--vibrant-orange);
}

.wrapper {
  padding: 0 60px;
}

.wrapper > h1,
.wrapper > h2 {
  text-align: center;
}

/* Support page */

.support-banner {
  background-image: url("../images/support.jpg");
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.support-banner > h1 {
  text-align: center;
  color: var(--light-grey);
}

.support-section {
  display: flex;
  gap: 25px;
}

.support-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.support-card img {
  width: 100%;
}

footer {
  display: flex;
  background-color: var(--dark-grey);
}

footer * > h3,
footer * > p {
  color: var(--light-grey);
}

footer * > h3 {
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
}

footer > section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  padding: 60px;
}

.footer-hours {
  line-height: 3;
  text-align: center;
}

footer > section {
  border-right: solid;
}

/* Media queries */

@media (width<=1200px) {
  .featured-section {
    flex-direction: column;
    max-height: none;
  }
  .featured-section:nth-child(3) {
    flex-direction: column-reverse;
  }

  .event-section:nth-child(2) {
    flex-direction: column-reverse;
  }

  .event-section:nth-child(3) {
    flex-direction: column;
  }
}

@media (width<=1300px) {
  .grid-card {
    grid-template-columns: 1.5fr 2fr;
    padding: 0 20px;
  }
}

@media (width <= 1024px) {
  .exhibit-hero,
  .hero-banner-1 {
    height: 360px;
  }

  .wrapper {
    padding: 0 48px;
  }

  .featured-exhibit-row > a {
    width: calc(100% / 4);
    text-decoration: none;
  }

  .featured-exhibit-row {
    flex-wrap: wrap;
  }

  .rounded-image {
    max-width: none;
  }
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .container > div {
    width: calc(100% / 2.1);
  }

  .event-section {
    margin: 0;
    margin-top: 100px;
  }

  /* .featured-section > div {
    padding: 0;
    margin: 0;
  } */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
  }

  .header-logo,
  .header-logo--nav {
    max-height: 50px;
  }

  #menu-checkbox {
    display: none;
  }

  header nav a {
    border: solid 1px var(--dark-grey);
    width: 100%;
    border-radius: 5px;
    font-size: var(--header-font-size);
  }

  #menu-checkbox:checked ~ nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .hamburger-icon {
    display: block;
    font-size: 4rem;
    color: var(--dark-grey);
  }

  header nav {
    display: none;
    background-color: var(--light-grey);
    position: absolute;
    z-index: 1000;
    right: 0px;
    top: 138px;
    gap: 0;
  }

  .grid-card {
    grid-template-columns: 1fr;
  }

  .grid-card-column {
    padding-left: 0;
  }

  .visit-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .visit-container * > h2 {
    text-align: center;
    font-size: var(--small);
  }

  .button-container {
    gap: 10px;
  }

  .featured-section--image-0 {
    max-height: 500px;
    object-position: top;
  }
  footer {
    flex-direction: column;
  }

  footer > section {
    gap: 25px;
    padding: 25px 60px;
  }

  .circle-container {
    gap: 15px;
  }

  .test {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .featured-section-row > p,
  .grid-card-column > p {
    font-size: 16px;
  }

  .explore-banner {
    max-height: 360px;
  }
}

@media (width <= 700px) {
  .container > div {
    flex-basis: 100%;
  }

  .featured-exhibit-row > a {
    width: calc(100% / 3);
  }
}

@media (width <= 430px) {
  .featured-exhibit-row {
    flex-wrap: wrap;
    gap: 0;
  }

  .wrapper {
    padding: 0 18px;
  }

  .featured-exhibit-row > a {
    width: calc(100% / 2);
    padding: 5px;
  }

  .visit-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .visit-container * > h2 {
    text-align: center;
    font-size: var(--small);
  }

  .c-btn {
    padding: 12px 23px;
    font-size: var(--xs);
  }

  .button-container {
    gap: 10px;
  }

  .featured-section-row > p {
    font-size: 16px;
  }

  .featured-section {
    flex-direction: column;
    max-height: none;
  }

  .test {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .event-section {
    margin: 0;
  }

  .container {
    display: flex;
    gap: 15px;
    /* padding: 20px; */
    margin: 0;
  }

  .container > div:last-child {
    width: 100%;
  }

  .container > div img {
    height: 232px;
  }

  .circle-container > div {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 39%;
  }

  .circle-container {
    gap: 15px;
  }

  .grid-card-column {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .grid-card-column > p {
    font-size: 16px;
    line-height: 2;
  }

  .grid-card {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .explore-banner {
    height: 287px;
  }

  .explore-banner > h1 {
    font-size: 50px;
  }

  .event-section {
    margin-top: 100px;
  }

  .footer-hours {
    text-align: left;
  }
  .test {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
